<header>

  <nav class="navbar navbar-dark bg-info">

    <a class="navbar-brand" routerLink=""><img src="/assets/logo2.png" alt="logo" width="70" height="40" class="d-inline-block" alt="logo">ComputerStore</a>

    <div class="justify-content-md-center">
      <form class="form-inline">
          <input class="form-control mr-1" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">
          <button class="btn btn-light" type="submit"> Znajdź </button>
      </form>
    </div>

    <div>
        <a href="#">
          <img src="/assets/user.png" alt="user" width="25" height="30" class="d-inline-block" alt="">
          <div class="text-light">Zaloguj</div>
        </a>
    </div>

    <div>
      <a routerLink="admin">Admin</a>
    </div>

  </nav>

</header>