<div>

  <form (ngSubmit)="onSubmit()" #form="ngForm">

    <div>Nazwa:
      <input type="text" [(ngModel)]="computer.name" name="name" #name="ngModel" required minlength="2">
      <div *ngIf="name?.invalid && (name.dirty || name.touched)">Nieprawidłowa nazwa komputera</div>      
    </div>
    <div>System:
        <input type="text" [(ngModel)]="computer.system" name="system" #system="ngModel" required minlength="2">
        <div *ngIf="system.invalid && (system.dirty || system.touched)">Nieprawidłowa nazwa systemu</div>      
    </div>
    <div>Procesor:
        <input type="text" [(ngModel)]="computer.processor" name="processor" #processor="ngModel" required minlength="2">
        <div *ngIf="processor.invalid && (processor.dirty || processor.touched)">Nieprawidłowa nazwa procesora</div>      
    </div>
    <div>Grafika:
        <input type="text" [(ngModel)]="computer.graphics" name="graphics" #graphics="ngModel" required minlength="2">
        <div *ngIf="graphics.invalid && (graphics.dirty || graphics.touched)">Nieprawidłowa nazwa grafiki</div>      
    </div>
    <div>Pamięć:
          <input type="text" [(ngModel)]="computer.memory" name="memory" #memory="ngModel" required minlength="2">
          <div *ngIf="memory.invalid && (memory.dirty || memory.touched)">Nieprawidłowa nazwa pamięci</div>      
    </div>
    <div>Dyski:
          <input type="text" [(ngModel)]="computer.storageDrivers" name="storageDrivers" #storageDrivers="ngModel" required minlength="2">
          <div *ngIf="storageDrivers.invalid && (storageDrivers.dirty || storageDrivers.touched)">Nieprawidłowa nazwa dysku</div>      
    </div>
    <div>Wejścia/wyjścia:
        <input type="text" [(ngModel)]="computer.inputs" name="inputs" #inputs="ngModel" required minlength="2">
        <div *ngIf="inputs.invalid && (inputs.dirty || inputs.touched)">Nieprawidłowa nazwa wejścia/wyjścia</div>      
    </div>
    <div>Gwarancja:
          <input type="text" [(ngModel)]="computer.warranty" name="warranty" #warranty="ngModel" required minlength="2">
          <div *ngIf="warranty.invalid && (warranty.dirty || warranty.touched)">Nieprawidłowa nazwa gwarancji</div>      
    </div>
    <div>Ilość:
        <input type="number" [(ngModel)]="computer.amount" name="amount" #amount="ngModel" appMinValue="1">
        <div *ngIf="amount.invalid && (amount.dirty || amount.touched)">Nieprawidłowa ilość</div>      
    </div>
    <div>Cena:
      <input type="text" [(ngModel)]="computer.price" name="price" #price="ngModel" appMinValue="100" required>
      <div *ngIf="price.invalid && (price.dirty || price.touched)">Nieprawidłowa cena</div>      
    </div>
    <div>Zdjęcie:
      <input type="text" [(ngModel)]="computer.image" name="image" #image="ngModel" required minlength="2">
      <div *ngIf="image.invalid && (image.dirty || image.touched)">Nieprawidłowa ścieżka do zdjęcia</div>      
    </div>

    <button type="submit" [disabled]="form.invalid && (form.dirty || form.touched)">Zapisz</button>

  </form>

</div>