.tile-description {
    padding: 10px 30px;
    /*width: 100%;*/
}
.tile-description td{
    opacity: 0.7;
    font-size: 20px;
    text-align: left;
}
.tile-description td:nth-of-type(2) {
    opacity: 10;
    text-align: right;
}
h4
{
    padding-top: 10px;
}