<div class="container">

    <div class="row">

      
      <div class="card col-sm-4" style="width: 18rem;">
        <img class="card-img-top" src="\{{image}}" alt="Tile image">
        <div class="card-body">
          <h4 class="card-title">{{name}}</h4>
          <table class="tile-description">
                    <thead>
                    <tr *ngIf="processor">
                    <th> Procesor: </th>
                    <th> {{processor}} </th>
                    </tr>
                    <tr *ngIf="graphics">
                    <th> Karta graficzna: </th>
                    <th> {{graphics}} </th>
                    </tr>
                    <tr *ngIf="memory">
                    <th> Pamięć RAM: </th>
                    <th> {{memory}} </th>
                    </tr>
                    <tr *ngIf="storageDrivers">
                    <th> Dyski: </th>
                    <th> {{storageDrivers}} </th>
                    </tr>
                    <tr *ngIf="system">
                    <th> System: </th>
                    <th> {{system}} </th>
                    </tr>
                    </thead>
                </table>
          <h4>{{price}}</h4>
          <a routerLink="{{id}}" class="btn btn-primary">Sprawdź szczegóły</a>
        </div>
      </div>
      

      <!--
      <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="\{{computerImage}}" class="card-img" alt="Tile image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{computerName}}</h5>
                <p class="card-text">
                    <thead>
                        <tr *ngIf="computerProcessor">
                        <th> Procesor: </th>
                        <th> {{computerProcessor}} </th>
                        </tr>
                        <tr *ngIf="graphics">
                        <th> Karta graficzna: </th>
                        <th> {{graphics}} </th>
                        </tr>
                        <tr *ngIf="memory">
                        <th> Pamięć RAM: </th>
                        <th> {{memory}} </th>
                        </tr>
                        <tr *ngIf="storageDrivers">
                        <th> Dyski: </th>
                        <th> {{storageDrivers}} </th>
                        </tr>
                        <tr *ngIf="system">
                        <th> System: </th>
                        <th> {{system}} </th>
                        </tr>
                        </thead>
                </p>
                <h4>{{computerPrice}}</h4>
                <a routerLink="{{computerId}}" class="btn btn-primary">Sprawdź szczegóły</a>
              </div>
            </div>
          </div>
        </div>
-->

    </div>


</div>