<div class="container">
    <div *ngIf="!computers || computers.length === 0">Brak komputerów w bazie</div>
      <table class="table table-hover" *ngIf="computers.length > 0">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">System</th>
              <th scope="col">Processor</th>
              <th scope="col">Graphics</th>
              <th scope="col">Memory</th>
              <th scope="col">Storage drivers</th>
              <th scope="col">Inputs</th>
              <th scope="col">Warranty</th>
              <th scope="col">Amount</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let computer of computers">
              <th scope="row">{{computer.computerId}}</th>
              <td>{{computer.computerName}}</td>
              <td>{{computer.computerSystem}}</td>
              <td>{{computer.computerProcessor}}</td>
              <td>{{computer.computerGraphics}}</td>
              <td>{{computer.computerMemory}}</td>
              <td>{{computer.computerStorageDrivers}}</td>
              <td>{{computer.computerInputs}}</td>
              <td>{{computer.computerWarranty}}</td>
              <td>{{computer.coumputerAmount}}</td>
              <td>{{computer.computerPrice}}</td>
            </tr>
          </tbody>
      </table>
  </div>