<header>
	
		<nav class="navbar navbar-white bg-secondary navbar-expand-sm">
			
			<div class="d-flex justify-content-center">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
              <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="mainmenu">

              <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link" routerLink="computers"><button type="button" class="btn btn-info">Komputery</button></a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link" routerLink="laptops"><button type="button" class="btn btn-info">Laptopy</button></a>
                </li>
                
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expended="false" id="submenu" aria-haspopup="true"><button type="button" class="btn btn-info">Podzespoły</button></a>
                    <div class="dropdown-menu" aria-labelledby="submenu">
						
                        <a class="dropdown-item" href="#"> Dyski twarde </a>
                        <a class="dropdown-item" href="#"> Karty graficzne </a>
                        <a class="dropdown-item" href="#"> Procesory </a>
                        <a class="dropdown-item" href="#"> Płyty główne </a>
                        <a class="dropdown-item" href="#"> Karty dźwiękowe </a>

                    </div>
                </li>
                -->
                
                <li class="nav-item dropdown">
                    <a class="nav-link" routerLink="softwares"><button type="button" class="btn btn-info">Oprogramowanie</button></a>
                </li>

              </ul>
              
        </div>
        
			</div>
		
		</nav>
	
	</header>